.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
/src/routes/contact
/src/lib/stores/localStore.ts
/src/svelte-progress-bar.d.ts
gpt.txt
notes.txt
package-lock.json
